#preview-content{
	
	padding:5px;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	#date-from{
		
		padding-top:0px!important;
	}
	#date-to{
		
		padding-top:0px!important;
	}
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr, tfoot { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tfoot tr{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative!important;
		padding-left: 50%!important; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute!important;
		/* Top/left values mimic padding */
		top: 12px;
		left: 12px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	
	/*Label the data*/
	
	td:nth-of-type(1):before { content: "Time"; }
	td:nth-of-type(2):before { content: "Table #"; }
	td:nth-of-type(3):before { content: "Items"; }
	td:nth-of-type(4):before { content: "Amount"; }
	td:nth-of-type(5):before { content: "View"; }
	
	
}
